@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}

body {
  @apply bg-slate-900 text-white min-h-screen text-slate-100;
}